################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaNutricional/FileContentIndex/55824133-1007-44a2-974c-1e1888de59ac.vsidx
/.vs/SistemaNutricional/v17/.suo
/.vs/SistemNutricional/FileContentIndex/559e6f75-a276-4129-87fb-c328d94cbfcc.vsidx
/.vs/SistemNutricional/FileContentIndex/d45ea61c-36d8-4e52-8318-e1109e392732.vsidx
/.vs/SistemNutricional/v17/.wsuo
/.vs/SistemNutricional/v17/workspaceFileList.bin
/.vs/SistemaNutricional/FileContentIndex/adf44646-a165-47af-9ba4-70a65ed33028.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/SistemaNutricional.csproj.AssemblyReference.cache
/obj/Debug/SistemaNutricional.csproj.CoreCompileInputs.cache
/obj/Debug/SistemaNutricional.csproj.FileListAbsolute.txt
/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Release/SistemaNutricional.csproj.AssemblyReference.cache
