

* {
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


    .container1 {
    max-width: 700px;
    width: 100%;
    background: var(--text);
    padding: 25px 30px;
    border-radius: 15px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

    .container1 .title {
        font-size: 1.5rem;
        font-weight: 700;
        position: relative;
    }

        .container1 .title:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background: linear-gradient(155deg, var(--bg1), var(--bg2));
        }

    .container1 form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

/* Box dengan userdetails */
form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

/* title box */
.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .user-details .input-box input:focus,
    .user-details .input-box input:valid {
        border-color: #56b4d3;
    }

/* Bagian Gender */
form .gender-details .gender-title {
    font-size: 1.2rem;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    border-color: #d9d9d9;
    background: #348f50;
}

form input[type='radio'] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

    form .button input {
        height: 100%;
        width: 100%;
        outline: none;
        color: #eee;
        font-size: 1.1rem;
        font-weight: 500;
        background: linear-gradient(135deg, #348f50, #56b4d3);
        border: none;
        cursor: pointer;
    }

        form .button input:hover {
            font-size: 1.2rem;
            font-weight: 700;
            transition: all 0.2 ease;
            background: linear-gradient(135deg, #56b4d3, #348f50);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media (max-width: 459px) {
    .container1 .content .category {
        flex-direction: column;
    }
}
