@{
    ViewBag.Title = "Home Page";
}

<main>
    <hr>
    <div class="welcome-container">
        <div class="welcome-message">
            <h1>Bienvenido a Nutricionista Manuel Sanabria</h1>
        </div>
        <div class="info-box">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit  eaque laborum obcaecati quo pariatur!</p>
        </div>
    </div>
    <hr>
    <div class="container-fluid padding" data-aos="fade-up">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-code"></i>
                <h3>Lorem</h3>
                <p>
                    Lorem ipsum dolor sit  eaque laborum obcaecati quo pariatur!
                    Lorem ipsum dolor sit  eaque laborum obcaecati quo pariatur!
                </p>
                <img src="" class="card-img-top" alt="...">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-bold"></i>
                <h3>Lorem</h3>
                <p>
                    Lorem ipsum dolor sit  eaque laborum obcaecati quo pariatur!
                    Lorem ipsum dolor sit  eaque laborum obcaecati quo pariatur!
                </p>
                <img src="../assets/cono2.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-xs-12 col-md-4">
                <i class="fab fa-css3"></i>
                <h3>Lorem</h3>
                <p>
                    Lorem ipsum dolor sit  eaque laborum obcaecati quo pariatur!
                    Lorem ipsum dolor sit  eaque laborum obcaecati quo pariatur!
                </p>
                <img src="" class="card-img-top" alt="...">
            </div>
        </div>
    </div>

    <hr>
    <div class="card-group">
        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    </main>