<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Nutricionista - Productos Reservados</title>
</head>
<body>

    <div class="container mt-4">
        <h2>Productos Reservados - Nutricionista</h2>

        <ul id="productosReservadosList" class="list-group">
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        var productosReservados = [
            { nombre: 'Usuario 1', apellidos: 'Apellido 1', correo: 'usuario1@example.com', telefono: '123-456-7890', nombreProducto: 'Producto 1', descripcionProducto: 'Descripción del Producto 1', precioProducto: '10.00' },
            { nombre: 'Usuario 2', apellidos: 'Apellido 2', correo: 'usuario2@example.com', telefono: '987-654-3210', nombreProducto: 'Producto 2', descripcionProducto: 'Descripción del Producto 2', precioProducto: '15.00' },
        ];

        function mostrarProductosReservados() {
            var listaProductosReservados = document.getElementById('productosReservadosList');
            listaProductosReservados.innerHTML = ''; 

            productosReservados.forEach(function (producto, index) {
                var listItem = document.createElement('li');
                listItem.className = 'list-group-item';
                listItem.innerHTML = `<strong>${producto.nombre} ${producto.apellidos}</strong> - Correo: ${producto.correo} - Teléfono: ${producto.telefono}<br>
                                         <strong>${producto.nombreProducto}</strong> - ${producto.descripcionProducto} - Precio: ${producto.precioProducto}
                                         <button type="button" class="btn btn-danger btn-sm float-right" onclick="eliminarProductoReservado(${index})">Eliminar Producto</button>`;
                listaProductosReservados.appendChild(listItem);
            });
        }

        function eliminarProductoReservado(index) {
 
            alert(`Producto reservado de ${productosReservados[index].nombre} eliminado correctamente.`);
            
            productosReservados.splice(index, 1);
            mostrarProductosReservados();
        }

        window.onload = function () {
            mostrarProductosReservados();
        };
    </script>
</body>
</html>
