@{
    ViewBag.Title = "Available Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .image-section {
        background-image: url('https://www.nwpc.com/wp-content/uploads/2019/09/healthy-eating.jpg');
        background-size: cover;
        background-position: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }
</style>

<div class="image-section">
    <h1>SOLICITAR CITA</h1>
    <p>Inicio / Solicitar cita</p>
</div>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="inputName">Nombre</label>
                    <input type="text" class="form-control" id="inputName" name="name" placeholder="Ingresa tu nombre" required />
                    <small class="form-text text-muted">Por favor ingresa tu numero</small>
                </div>
                <div class="form-group">
                    <label for="inputPhone">Teléfono</label>
                    <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="+506xxxxxxx" pattern="\d{3}\d{3}\d{4}" required />
                    <small class="form-text text-muted">Nunca vamos a compartir tu teléfono con otras personas.</small>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputDate">Fecha</label>
                        <input type="date" class="form-control" id="inputDate" name="date" required />
                        <small class="form-text text-muted">Por favor seleccionar el día que te gustaría la cita.</small>
                    </div>
                    <div>

                        <label for="timeOfDay">Seleccionar el horario de la cita que te gustaría:</label>
                        <select id="timeOfDay">
                            <option value="morning">Mañana</option>
                            <option value="afternoon">Tarde</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="textAreaRemark">Alguna nota extra que te gustaría agregar</label>
                        <textarea class="form-control" name="remark" id="textAreaRemark" rows="2" placeholder="Déjanos un mensaje..."></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block col-lg-2" id="sendButton">Enviar</button>
        </div>

        <script>
            document.getElementById('sendButton').addEventListener('click', function (e) {
                e.preventDefault();

                // Obtener los valores de los campos del formulario
                var name = document.getElementById('inputName').value.trim();
                var email = document.getElementById('inputEmail').value.trim();
                var phone = document.getElementById('inputPhone').value.trim();
                var date = document.getElementById('inputDate').value.trim();
                var timeOfDay = document.getElementById('timeOfDay').value;
                var remark = document.getElementById('textAreaRemark').value.trim();

                // Validar que los campos no estén en blanco
                if (name === '' || email === '' || phone === '' || date === '') {
                    alert('Por favor, completa todos los campos obligatorios.');
                    return;
                }

                // Crear el mensaje con los valores del formulario
                var message = `Nombre: ${name}%0ACorreo: ${email}%0ATeléfono: ${phone}%0AFecha: ${date}%0AHorario: ${timeOfDay}%0ANota: ${remark}`;

                // Construir la URL de WhatsApp con el mensaje
                var whatsappUrl = `https://wa.me/50687613449?text=${message}`;

                // Abrir la ventana de WhatsApp
                window.open(whatsappUrl);
            });
        </script>
